<h1>Listing jimbo2s</h1>

<table>
  <tr>
    <th>Age</th>
    <th>Adresse</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @jimbo2s.each do |jimbo2| %>
  <tr>
    <td><%= jimbo2.age %></td>
    <td><%= jimbo2.adresse %></td>
    <td><%= link_to 'Show', jimbo2 %></td>
    <td><%= link_to 'Edit', edit_jimbo2_path(jimbo2) %></td>
    <td><%= link_to 'Destroy', jimbo2, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Jimbo2', new_jimbo2_path %>
