<p id="notice"><%= notice %></p>

<p>
  <b>Age:</b>
  <%= @jimbo2.age %>
</p>

<p>
  <b>Adresse:</b>
  <%= @jimbo2.adresse %>
</p>


<%= link_to 'Edit', edit_jimbo2_path(@jimbo2) %> |
<%= link_to 'Back', jimbo2s_path %>
